@-webkit-keyframes tremble {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0%;
            transform-origin: 0%;
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

@keyframes tremble {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0%;
            transform-origin: 0%;
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

@-webkit-keyframes rotate {
  from {
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #337AB7;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background: #D1D6DD;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.header__item {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  display: block;
  height: 60px;
  width: auto;
  margin-right: 15px;
  z-index: 1;
}

.header__img_animated {
  -webkit-animation-name: tremble;
          animation-name: tremble;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.header__call {
  display: block;
}

.header__logo {
  font-size: 54px;
}

.header__call {
  height: 50px;
  width: auto;
}

.header__call_animated {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.subheader {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.subheader .arrow-5 {
  background: #c1c4c9;
  text-align: center;
  color: #337AB7;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
  width: 23%;
  height: 60px;
}

.subheader .arrow-5-top {
  position: relative;
  z-index: 10;
}

.subheader .arrow-5::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  left: 50%;
  border-bottom: 10px solid #c1c4c9;
  top: 0px;
}

.center {
  font-size: 1.5em;
  background: #D1D6DD;
  padding: 20px 0;
}

.arrow-5 {
  display: block;
  background: #337AB7;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: 20px;
}

.arrow-5-left {
  position: relative;
  z-index: 10;
}

.arrow-5::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
}

.arrow-5::after {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-top: -8px;
  top: 50%;
  border-right: 10px solid #337AB7;
  left: -10px;
}

.task {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.task h4 {
  text-align: center;
  font-size: 36px;
}

.task h5 {
  font-size: 24px;
  line-height: 2;
}

.task .tasc__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.task .tasc__chec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px;
}

.task .tasc__chec p {
  font-size: 24px;
}

.task img {
  display: block;
  max-width: 30px;
  height: auto;
}

.rulers {
  background: #D1D6DD;
  font-size: 36px;
  padding: 20px;
}

.rulers .arrow-5 {
  background: #337AB7;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: 20px;
}

.rulers .arrow-5-bottom {
  position: relative;
  z-index: 10;
}

.rulers .arrow-5-bottom::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
  top: 110%;
}

.rulers .arrow-5-bottom::after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-left: -10px;
  left: 50%;
  border-top: 10px solid #337AB7;
  bottom: -50px;
}

.base {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  font-size: 36px;
}

.photo {
  font-size: 1.5em;
  background: #D1D6DD;
}

.photo p {
  padding: 20px 0;
  text-align: center;
  background: #337AB7;
  color: #fff;
  margin: 10px;
}

.photo__table {
  margin-top: 5px;
  background: #D1D6DD;
}

.photo__table .grid-container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

.footers {
  background: #337AB7;
  color: #fff;
  padding: 20px;
}

.footers__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footers__flex p {
  padding: 5px 0;
}

.footers .copyright {
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  border-top: #fff solid 1px;
}

.footers__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footers__desc img {
  height: 52px;
  width: auto;
}

.footers__desc span {
  margin-left: 10px;
  font-size: 24px;
}

@media (max-width: 990px) {
  .header__phone {
    font-size: 1em;
  }
  .header__logo {
    font-size: 32px;
  }
  .subheader {
    font-size: 18px;
  }
  .subheader .arrow-5 {
    font-size: 18px;
  }
  .center {
    font-size: 1em;
  }
  .task h4 {
    font-size: 1.1em;
  }
  .task h5 {
    font-size: 1.1em;
  }
  .task .tasc__chec p {
    font-size: 1em;
  }
  .rulers {
    font-size: 30px;
  }
  .base {
    font-size: 1.1em;
  }
  .photo__table .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  .header {
    padding-top: 10px;
    height: 45%;
    padding-bottom: 10px;
  }
  .header__phone {
    font-size: 1.4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header span {
    font-size: 1.2em;
  }
  .header__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subheader {
    display: none;
  }
  .center {
    padding-top: 10px;
  }
  .task {
    display: none;
  }
  .task h5 {
    display: none;
  }
  .rulers {
    background: #D1D6DD;
    font-size: 24px;
    padding: 0px;
  }
  .rulers .arrow-5 {
    background: #FF0000;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin: 10px;
  }
  .rulers .arrow-5-bottom::after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left: -10px;
    left: 50%;
    border-top: 10px solid;
  }
  .rulers .arrow-5-bottom::after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left: -10px;
    left: 50%;
    border-top: 10px solid #FF0000;
    bottom: -50px;
  }
  .base {
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }
  .photo {
    font-size: 1.5em;
    background: #D1D6DD;
  }
  .photo p {
    padding: 20px 0;
    text-align: center;
    background: #337AB7;
    color: #fff;
    margin: 10px;
  }
  .photo__table {
    margin-top: 5px;
    background: #D1D6DD;
  }
  .photo__table .grid-container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
  }
  .footers {
    font-size: 22px;
    padding: 10px;
  }
  .footers__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footers__flex p {
    padding: 0;
  }
  .footers__flex .ip {
    padding-top: 10px;
  }
  .footers .copyright {
    font-size: 18px;
  }
  .footers__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footers__desc img {
    height: 52px;
    width: auto;
  }
  .footers__desc span {
    margin-left: 10px;
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */
